html{
    scroll-behavior: smooth;
}

body{

     /*background-color: teal;*/
     background-color:#1b1b1b;
}

.carte{
    background-color: whitesmoke;
}

.infosGit{
    height: 100vh;
    color: white;
}
.image{
    background-image: url("GabyNBcopie.jpg");
    background-size: cover;
    height: 95vh;
}
.nom{
    color: white;
    font-size: 30px;
}
.Formulaire {
    color: white;
    width: 95vh;
    display: flex;
}
